/* GLOBALES */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #06001b !important;
  display: flex;
  flex-direction: column;
}

/* Main content */
main {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  flex-grow: 1; 
  padding-top: 6rem;
}

/* NAV */
.navbar {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(93, 10, 148, 0.699) !important;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

nav img {
  width: 9rem;
  height: auto;
  border-radius: none !important;
}

.nav-link:hover {
  color: rgb(0, 195, 255) !important;
}

.show a {
  text-align: center;
  transition: transform 0.8s ease-in-out;
}

.show a:hover {
  transform: scale(1.2);
}

/* FORMATS */
img {
  object-fit: cover;
  max-width: 100%;
  height: 300px;
  border-radius: 1rem !important;
}

p {
  font-size: 1.1rem;
  text-align: justify;
  width: 100%;
}

li {
  margin: 1rem 0;
  text-align: justify;
  padding-right: 2rem;
}

strong {
  color: rgb(149, 255, 0);
}

label {
  color: rgb(255, 0, 136) !important;
  font-weight: bold;
}

h2 {
  color: rgb(0, 195, 255);
}

/* CV PLAYER */
.perfil {
  width: 250px;
  height: 250px;
  border-radius: 50% !important;
  margin: auto;
  object-fit: cover;
}

.education {
  margin: 2rem 1rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.skill-container {
  margin-top: 1rem;
  width: 90%;
}

.progress-bar {
  width: 100%;
  background-color: rgb(98, 38, 155) !important;
  border-radius: 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: rgb(220, 255, 66) !important;
  border-radius: 20px;
}

/* BACKGROUNDS BLUR */
.blurred-section {
  max-width: 40rem;
  padding-right: 1rem;
  padding: 2.5rem !important;
  backdrop-filter: blur(10px);
  background-color: rgba(73, 76, 255, 0.2) !important;
  border-radius: 20px !important;
}

/* BACKGROUNDS ANIMATIONS */
.background-animation {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.code-line {
  color: rgb(255, 255, 0);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  opacity: 0;
  animation: fadeIn 0.5s forwards, move 5s forwards linear;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes move {
  to {
    transform: translateY(-100vh);
  }
}

/* PORTAFOLIO */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  object-fit: cover;
  max-height: 200px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.btn {
  align-self: flex-end;
  margin-top: auto;
  background-color: rgb(255, 41, 155) !important;
  border: none !important;
  width: 10rem;
  border-radius: 1rem !important;
}

.btn:hover {
  background-color: rgb(19, 255, 227) !important;
}

/* FOOTER */
footer {
  background-color: rgb(63, 0, 114) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 1rem 0;
  width: 100%;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}

footer p {
  margin: 0;
  color: white;
}
