html {
    background-color: black;
    height: 100vw;
}

img {
    width: 300px;
    background-size: cover;
    height: auto;
}

.spacer {
    margin-top: 10px;
}

section {
    margin-top: 10px;
    text-align: center;
    width: 500px;
}

main {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 20px 0;
    background-color: black;
    margin-top: 60px;
    width: 100%;
    padding: 2rem;
    color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed !important;
    top: 0;
    width: 100%;
    color: white;
    background-color: #0d0d0de9;
    z-index: 1000;
}
nav img {
    width: 9rem;
    height: auto;
}

p {
    font-size: 1.1rem;
    text-align: justify;
    width: 100%;
}

p.spacer {
    margin-top: 20px;
}

li {
    margin-top: 10px;
    text-align: justify;
    text-justify: start-;
}

