html {
    background-color: black;
    height: 100vw;
}

img {
    width: auto;
    background-size: cover;
    height: 15rem;
}

main {
    background-color: black;
    margin-top: 60px;
    padding: 2rem;
    color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed !important;
    top: 0;
    width: 100%;
    color: white;
    background-color: #0d0d0de9;
    z-index: 1000;
}
nav img {
    width: 9rem;
    height: auto;
}